fastapi
uvicorn[standard]
sqlalchemy[asyncio]>=2.0
asyncpg
alembic
pydantic-settings
pydantic[email]
python-dotenv
pgvector
python-jose[cryptography]
cryptography
bcrypt
sentence-transformers
xgboost
shap
scikit-learn
pandas
reportlab
openpyxl
python-multipart
pdfplumber
groq
python-docx

pytest
pytest-asyncio
httpx
